{% extends parent_template %}

{% block navigation %}
    //Navigation for base layer
    var legend = document.getElementById('legend');
    legend.remove();
{% endblock %}

{% block layers %}
    //Base layer
    // Add data source
    map.addSource("{{ layer_id }}-data", {
        "type": "geojson",
        "data": {{ geojson_data }},
        "buffer": 1,
        "maxzoom": 14
    });
    
    // Add data layer
    map.addLayer({
        "id": "circle",
        "source": "{{ layer_id }}-data",
        "type": "circle",
        "maxzoom": {{ maxzoom }},
        "minzoom": {{ minzoom }},
        "paint": {"circle-radius": 1}
    });
{% endblock %}
