{% extends parent_template %}

{% block navigation %}
    //Navigation for heatmap layer
    document.getElementById('legend').style.visibility = 'hidden';
{% endblock %}

{% block layers %}
    //Heatmap layer
    map.addSource("{{ layer_id }}-data", {
        "type": "geojson",
        "data": {{ geojson_data }}, //data from dataframe output to geojson
        "buffer": 0,
        "maxzoom": 14
    });

    map.addLayer({
        "id": "{{ layer_id }}-circle",
        "source": "data",
        "type": "heatmap",
        "maxzoom": {{ maxzoom }},
        "minzoom": {{ minzoom }},
        "paint": {
            "heatmap-weight": generateInterpolateExpression( "{{ weightProperty }}", {{ weightStops }} ),
            "heatmap-radius" : generateInterpolateExpression('zoom', {{ radiusStops }} ),
            "heatmap-color" : generateInterpolateExpression('heatmap-density', {{ colorStops }} ),
            "heatmap-opacity" : {{ opacity }}
        }
    }, "{{belowLayer}}" );
{% endblock %}
